<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets//tools/forms.css" />
<%- include('../partials/nav') %>

<main>
  <div id="header">
    <h1> 
      <%= title %> 
      <br>
      <a href="/tools/<%= tool._id %>"><%= tool.name %></a>
    </h1>
  </div>
  <section>
    <form action="/tools/<%= tool._id %>?_method=PUT" method="POST">
      <div>
          <label for="name">Name</label>
          <input type="text" name="name" id="name" value="<%= tool.name %>" autocomplete="off"/>
      </div>
      <div>
          <label for="instructions">Instructions</label>
          <textarea type="text" name="instructions" id="instructions" maxlength="1500"><%= tool.instructions %></textarea>
          <p>1500 char max</p>
      </div>
      <div>
          <label for="imgSrc"> Link To Image</label>
          <input type="text" name="imgSrc" id="imgSrc" value="<%= tool.imgSrc %>">
      </div>
      <div>
          <label for="imgOwner"> Image Owner Name </label>
          <input type="text" name="imgOwner" id="imgAttribution" value="<%= tool.imgOwner %>">
      </div>
      <div>
          <label for="imgOwnerLink"> Link to Owner of Image</label>
          <input type="text" name="imgOwnerLink" id="imgOwnerLink" value="<%= tool.imgOwnerLink %>">
      <div id="selectors">
        <div>
          <label for="difficulty">Difficulty to Perform (0-5)</label>
          <select name="difficulty" id="difficulty">
            <option value="<%= tool.difficulty %>"><%= tool.difficulty %></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div>
          <label for="toolTypeId">Tool Type</label>
          <select name="type" id="toolTypeId">
            <% if (tool.type) { %>
              <option value="<%= tool.type._id %>"><%= tool.type.name %></option>
            <% } %>
            <% toolTypes.forEach(toolType => { %>
              <option value="<%= toolType._id %>"><%= toolType.name %></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div id="buttons">
        <% if (tool.author.equals(user?.profile._id)) { %>
          <button type="submit">Update Tool</button>
        <% } %>
      </div>
    </form>
    <% if (tool.author.equals(user?.profile._id)) { %>
      <form action="/tools/<%= tool._id %>?_method=DELETE" method="POST">
        <button id="delete-button" type="submit">Delete Tool</button>
      </form>
    <% } %>
    <% if (blankError) { %>
      <div class="error">
        <h2>Please don't leave any fields blank</h2>
      </div>
    <% } %>
    <% if (duplicateError) { %>
      <div class="error">
        <h2>That tool already exists</h2>
      </div>
    <% } else if (!duplicateError && !blankError) { %>
      <div class="error">
        <h2> Double check your updates </h2>
      </div>
    <% } %>
  </section>

</main>

<%- include('../partials/footer') %>