<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/tools/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %></h1>
  <% if (user) { %>
    <a href="/tools/new">
      <button>Add Tool</button>
    </a>
  <% } %>

  <section>
    <% tools.forEach(tool => { %>
      <div class="tool">
        <div class="img">
          <img src="<%= tool.imgSrc %>" alt="tool image">
        </div>
        <div class="info">
          <div>
            <h2><%= tool.name %></h2>
          </div>
          <div>
            <% if (tool.type) { %>
              <p> Tool Type: <a href="/toolTypes/<%= tool.type._id %>"><%= tool.type.name %></a></p>
            <% } %>
          </div>
          <div>
            <% if (tool.reviews.length > 0) { %>
              <div class="average-rating">
                <p><%= tool.averageRating %>.0
                  <% for (let i = 0; i < tool.averageRating; i++) { %>
                    <span>⭐</span>
                  <% } %>
                  <% if (tool.reviews.length === 1) { %>
                    <a href="/tools/<%= tool._id %>/reviews">
                      <%= tool.reviews.length  %> Review
                    </a>
                  <% } else { %>
                    <a href="/tools/<%= tool._id %>/reviews">
                      <%= tool.reviews.length  %> Reviews
                    </a>            
                  <% } %>
                </p>
              </div>
            <% } else if (tool.reviews.length === 0) { %>
              <div class="average-rating">
                <p>
                  <a href="/tools/<%= tool._id %>/reviews">No Reviews</a>
                </p>
              </div>
            <% } %>%>
          </div>
          <div>
            <a href="/tools/<%= tool._id %>">
              <button> Tool Details</button>
            </a>
          </div>
        </div>
      </div>
    <% }) %>
  </section>

<%- include('../partials/footer') %>
