<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %></h1>
  <% if (user) { %>
    <a href="/tools/new">
      <button>Add Tool</button>
    </a>
  <% } %>

  <section>
    <% tools.forEach(tool => { %>
      <div>
        <h2>Name: <%= tool.name %></h2>
        <p>Created by: <%= tool.author.name %></p>
        <p> Tool Type: <%= tool.type.name %></p>
        <img src="<%= tool.imgSrc %>" alt="tool image">
        <p><%= tool.imgAttribution %></p>
        <a href="/tools/<%= tool._id %>">
          <button> Tool Details</button>
        </a>
      </div>
    <% }) %>
  </section>

<%- include('../partials/footer') %>
