<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets//tools/forms.css" />
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %></h1>
  <section>
    <form action="/tools" method="POST">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" autocomplete="off"/>
      </div>
      <div>
          <label for="instructions">Instructions</label>
          <textarea type="text" name="instructions" id="instructions" maxlength="1500"></textarea>
          <p>1500 char max</p>
      </div>
      <div>
          <label for="imgSrc"> Link To Image</label>
          <input type="text" name="imgSrc" id="imgSrc">
      </div>
      <div>
          <label for="imgOwner"> Image Owner Name </label>
          <input type="text" name="imgOwner" id="imgAttribution">
      </div>
      <div>
          <label for="imgOwnerLink"> Link to Owner of Image</label>
          <input type="text" name="imgOwnerLink" id="imgOwnerLink">
      <div id="selectors">
        <div>
          <label for="difficulty">Difficulty to Perform (0-5)</label>
          <select name="difficulty" id="difficulty">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div>
          <label for="toolTypeId">Tool Type</label>
          <select name="type" id="toolTypeId">
            <% toolTypes.forEach(toolType => { %>
              <option value="<%= toolType._id %>"><%= toolType.name %></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div id="buttons">
        <button type="submit">Add Tool</button>
      </div>
    </form>
    <% if (blankError) { %>
      <div class="error">
        <h2>Please don't leave any fields blank</h2>
      </div>
    <% } %>
    <% if (duplicateError) { %>
      <div class="error">
        <h2>That tool already exists</h2>
      </div>
    <% } else if (!duplicateError && !blankError) { %>
      <div class="error">
        <h2> Thanks for sharing </h2>
      </div>
    <% } %>
  </section>
</main>

<%- include('../partials/footer') %>
