<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img src="<%= tool.imgSrc %>" alt="tool image">
  </div>
  <div>
    <p>Image From <a href="<%= tool.imgOwnerLink %>"><%= tool.imgOwner %></a>
    </p>
  </div>
  <h1> <%= tool.name %></h1>
  <div>
    created by <%= tool.author.name %>
  </div>
  <div>
    difficulty level: <%= tool.difficulty %>
  </div>
  <div>
    tool type: <%= tool.type.name %>
  </div>
  <div>
    <h2>Instructions</h2>
    <%= tool.instructions %>
  </div>
  <div>
      <a href="/tools/<%= tool._id %>/reviews">
        <button type="button">See Reviews</button>
      </a>
  </div>
  <div>
    <% if (tool.author.equals(user?.profile._id)) { %>
      <a href="/tools/<%= tool._id %>/edit">
        <button type="button">Edit Tool</button>
      </a>
    <% } %>
    <% if (tool.author.equals(user?.profile._id)) { %>
      <form action="/tools/<%= tool._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Tool</button>
      </form>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>
