<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/createdToolTypes.css" />
<%- include('../partials/nav') %>

<main>
  <div class="header">
    <h1> <a href="/profiles/<%= profile._id %>"> <%= profile.name %>'s</a> 
    <br>
    Created Tool Types</h1>
  </div>
  <section>
    <% toolTypes.forEach(toolType => { %>
      <div class="tool-type">
        <h2><%= toolType.name %></h2>
        <p>
          <a href="/toolTypes/<%= toolType._id %>">
            <button> Tool Type Details</button>
          </a>
        </p>
        <% if (toolType.author.equals(user.profile._id)) { %>
          <p>
            <a href="/toolTypes/<%= toolType._id %>/edit">
              <button>Edit Tool Type</button>
            </a>
          </p>
        <% } %>
      </div>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>
