<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% profiles.forEach(profile => { %>
    <div>
      <img src="<%= profile.avatar %>" alt=" <%= profile.name %>">
      <p><%= profile.name %></p>
      <a href="/profiles/<%= profile._id %>">
        <button>Profile Details</button>
      </a>
    </div>
  <% }) %>
</main>

<%- include('../partials/footer') %>
