<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/toolReviews.css" />
<%- include('../partials/nav') %>

<main>
  <div class="header">
    <h1><a href="/profiles/<%= profile._id %>"> <%= profile.name %>'s</a>
    <br>
    Reviews
    </h1>
  </div>
  <section>
    <% reviews.forEach(review => { %>
      <div class="reviewer">
        <h2>Review For: 
          <br>
          <a href="/tools/<%= review.tool._id %>"><%= review.tool.name %></a>
        </h2>
        <p> <%= review.content %> %></p>
        <p>
          <% for (let i = 0; i < review.rating; i++) { %>
            <span>⭐</span>
          <% } %>
        </p>
        <p><%= review.createdAt.toLocaleDateString() %></p>
        <% if (review.author.equals(user.profile._id)) { %>
          <a href="/tools/<%= review.tool._id %>/reviews/<%= review._id %>/edit">
            <button>Edit Review</button>
          </a>
        <% } %>
      </div>
    <% }) %>
  </section>
</main>

<%- include('../partials/footer') %>
