<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %> for <%= tool.name %></h1>
  <% let userReview = tool.reviews.find(review => review.author.equals(user?.profile._id)) %>
  <% if (userReview) { %>
    <a href="/tools/<%= tool._id %>/reviews/<%= userReview._id %>/edit">
      <button type="button">Edit Review</button>
    </a>
  <% } else if (user) { %>
    <a href="/tools/<%= tool._id %>/reviews/new">
      <button type="button">Add Review</button>
    </a>
  <% } %>

  <div>
    <% tool.reviews.forEach(review => { %>
      <div>
        <img src="<%= review.author.avatar %>" alt=" <%= review.author.name %>">
        <p><%= review.author.name %></p>
        <p><%= review.content %></p>
        <p>Rating: <%= review.rating %></p>
        <p><%= review.createdAt.toLocaleDateString() %></p>
      </div>
    <% }) %>
    
  </div>
  </section>
</main>

<%- include('../partials/footer') %>
