<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %></h1>
  <% if (user) { %>
    <a href="/toolTypes/new">
      <button type="button">Add Tool Type</button>
    </a>
  <% } %>
  <ul>
    <% toolTypes.forEach(toolType => { %>
      <li>
        <div>
          <a href="/toolTypes/<%= toolType.id %>">
            <%= toolType.name %>
          </a>
        </div>
        <div>
          <%= toolType.description %>
        </div>
      </li>
    <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>
