<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/toolTypes/index.css" />

<%- include('../partials/nav') %>

<main>
  <h1> <%= title %></h1>
  <% if (user) { %>
    <a href="/toolTypes/new">
      <button type="button">Add Tool Type</button>
    </a>
  <% } %>

  <% toolTypes.forEach(toolType => { %>
    <div class="toolType">
      <h2><%= toolType.name %></h2>
      <a href="/toolTypes/<%= toolType._id %>">
        <button> Tool Type Details</button>
      </a>

    </div>
  <% }) %>

</main>

<%- include('../partials/footer') %>
