<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/toolTypes/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1> <%= toolType.name %></h1>
  <div>
    <h2>
      Created By 
      <br>
      <a href="/profiles/<%= toolType.author._id %>"><%= toolType.author.name %></a>
      <br>
      <%= toolType.createdAt.toLocaleDateString() %>
    </h2>
  </div>
  <div>
    <p>
      <%= toolType.description %>
    </p>
  </div>
  <div>
    <% if (toolType.author.equals(user?.profile._id)) { %>
      <a href="/toolTypes/<%= toolType.id %>/edit">
        <button type="button">Edit/Delete</button>
      </a>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>
